.padding-top-page {
  padding-top: 120px;
}

.side-paddings {
  @media (min-width: 1140px) {
    padding-left: 140px;
    padding-right: 140px;
  }

  @media (max-width: 1140px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (max-width: 720px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.h1 {
  font-family: var(--title-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-height) !important;
}

.h2 {
  font-family: var(--title-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-height) !important;
}

.h3 {
  font-family: var(--title-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-height) !important;
}

.h4 {
  font-family: var(--title-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  line-height: var(--h4-height) !important;
}

.h5 {
  font-family: var(--title-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  line-height: var(--h5-height) !important;
}

.h6 {
  font-family: var(--title-font-family);
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
  line-height: var(--h6-height) !important;
}

.button {
  padding: 0.75rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold ;
  display: inline-block;
  border: 0;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.primary-button {
  background: var(--primary-gradient);
  color: var(--lime-300);

  transition: box-shadow 150ms linear;

  &:hover {
    box-shadow: var(--button-purple-shadow);
  }

  &:active,
  &:focus {
    outline: 1px solid var(--purple-300);
  }
}

.secondary-button {
  background: var(--lime-100);
  color: var(--purple-100);

  transition: box-shadow, filter 150ms linear;

  &:hover {
    box-shadow: var(--button-shadow);
    filter: brightness(0.93);
  }

  &:active, 
  &:focus {
    outline: 1px solid var(--purple-300);
  }
}

.tertiary-button {
  border-color: transparent;
  background-color: transparent;
  color: var(--purple-100);

  transition: background-color 150ms linear;

  &:hover {
    background-color: rgba(86, 3, 173, 0.1);
  }

  &:active, &:focus {
    outline: 1px solid var(--purple-300);
  }
}

.form-row {
  display: flex;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  margin-bottom: 1.5rem;

  label {
    color: var(--purple-100);
  }
}

.form-input {
  width: 100%;
  padding: 0 1rem;
  height: 48px;
  background-color: var(--gray-500);
  border: 0;
  border-radius: 8px;
  color: var(--purple-100);

  &:focus {
    outline: 1px solid var(--purple-100);
  }

  & option {
    color: var(--purple-100);
  }
}

.form-textarea {
  width: 100%;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 0;
  border-radius: 8px;
  resize: none;
  color: var(--purple-100);

  &:focus {
    outline: 1px solid var(--purple-100);
  }
}
