.header {
  margin-bottom: 3rem;

  h2 {
    text-align: center;
  }
}

.form-body {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;

  form {
    width: 100%;
    max-width: 800px;
  }

}