.container {
  @media(min-width: 1140px) {
    margin-left: 140px;
    margin-right: 140px;
  }

  @media(max-width: 1140px) {
    margin-left: 70px;
    margin-right: 70px;
  }

  @media(max-width: 720px) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.nav {
  padding-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}